<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TopItUp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="SQLAzureConnection" connectionString="Data Source=vm2wjq7huo.database.windows.net;Initial catalog=topitup_db;User ID=jcastaneda;Password=cvjfc2610**;Encrypt=true;Trusted_Connection=false;providerName=System.Data.SqlClient" />-->
    <add name="SQLAzureConnection" connectionString="Data Source=mits.centralus.cloudapp.azure.com,1433;Initial catalog=topitup_db;user id=AppTopItUp; password=.TopItUp2017**.!" providerName="System.Data.SqlClient" />
    <!--<add name="EDM_TopItUp" connectionString="Data Source=mits.centralus.cloudapp.azure.com;Initial catalog=topitup_db;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="EDM_TopItUp" connectionString="metadata=res://*/EDM_TopItUp.EDM_TopItUp.csdl|res://*/EDM_TopItUp.EDM_TopItUp.ssdl|res://*/EDM_TopItUp.EDM_TopItUp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mits.centralus.cloudapp.azure.com,1433;initial catalog=topitup_db;user id=AppTopItUp;password=.TopItUp2017**.!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="smtpServer" value="localhost" />
    <add key="puerto" value="25" />
    <add key="enableSsl" value="False" />
    <add key="correoFrom" value="atencion.clientes@topitup.net" />
    <add key="pass" value="" />
    <add key="correoTo1" value="jcastaneda@sodesi.mx" />
    <!-- Admin -->
    <add key="correoTo2" value="" />
    <add key="correoTo3" value="" />
    <!-- <add key="correoTo2" value="atencion.clientes@topitup.net" />
    <add key="correoTo3" value="depositos@topitup.net" />
    <add  key="UserMultiwebService" value="rchavezl@hotmail.com" />
    <add  key="PasswordMultiWebService" value="casetas666" />
    <add  key="ClaveSeguridadMultiWebService" value="694265" />
    <add  key="AgentID" value="8000088" />
    <add  key="AgentPassword" value="DDX#P6V4-testpw" />-->
    <add key="UserMultiwebService" value="habernet.perez@gmail.com" />
    <add key="PasswordMultiWebService" value="8079" />
    <add key="ClaveSeguridadMultiWebService" value="410073" />
    <add key="AgentID" value="951" />
    <add key="AgentPassword" value="YK@TcPE9" />
    <add key="CodigoLadaMexico" value="52" />
    <add key="userprocom" value="gpocoma1" />
    <add key="passprocom" value="28d6e67f1394382aa8846f370369ea45" />
    <add key="PaginaInicio" value="Default.aspx" />
    <add key="IntegraCompany" value="HABERNET" />
    <add key="IntegraUsr" value="HABERNET" />
    <add key="IntegraPwd" value="0698d9088b22a4e2997f4c8caa7a7b80" />
    <add key="IntegraPrefijo" value="HBT" />

    <add key="RutaReciboDePago" value="C:\inetpub\wwwroot\FilesUploaded\"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--<httpRuntime targetFramework="4.5" />-->
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="true" executionTimeout="14400" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ctrlMenu" tagName="MenuUser" src="~/Controles/Menu.ascx" />
        <add tagPrefix="ctrlNoticias" tagName="NoticiasUser" src="~/Controles/Noticia.ascx" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        La pertenencia a ASP.NET está deshabilitada en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        El perfil de pertenencia a ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          El rol de pertenencia a ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            Si la implementación se realiza en un entorno de nube con varias instancias de servidor web,
            debería cambiar el modo de estado de sesión de "InProc" a "Custom". Además, cambie también
            la cadena de conexión con el nombre "DefaultConnection" para conectarse a una instancia de
            SQL Server (incluidos SQL Azure y SQL Compact) en lugar de conectarse a SQL Server Express.
  
  <sessionState mode="InProc" customProvider="DefaultSessionProvider" cookieless ="UseUri">
            <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
      -->
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <defaultDocument>
      <files>
        <add value="otras.aspx" />
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" destination="https://www.topitup.net" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProntipagosClientServiceEndPointPortBinding" />
        <binding name="iSendServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ProntipagosServiceEndPointPortBinding" />
        <!--<binding name="ProntipagosTopUpServiceEndPointPortBinding" />-->
        <binding name="ProntipagosTopUpServiceEndPointPortBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <!--<security mode="TransportCredentialOnly">-->
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="servicePortBinding" />
        <binding name="posHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dev.tranbit.mx:28181/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosClientServiceEndPoint" binding="basicHttpBinding" bindingConfiguration="ProntipagosClientServiceEndPointPortBinding" contract="ProntipagosClientService.ProntipagosClientServiceEndPoint" name="ProntipagosClientServiceEndPointPort" />
      <endpoint address="http://dev.tranbit.mx:28181/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosServiceEndPoint" binding="basicHttpBinding" bindingConfiguration="ProntipagosServiceEndPointPortBinding" contract="ProntipagosService.ProntipagosServiceEndPoint" name="ProntipagosServiceEndPointPort" />
      <endpoint address="https://ws.prontipagos.mx/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosTopUpServiceEndPoint" binding="basicHttpBinding" bindingConfiguration="ProntipagosTopUpServiceEndPointPortBinding" contract="ProntipagosTopUpService.ProntipagosTopUpServiceEndPoint" name="ProntipagosTopUpServiceEndPointPort" />
      <endpoint address="https://services.isendonline.com/isendwebservice/isend.asmx" binding="basicHttpBinding" bindingConfiguration="iSendServiceSoap" contract="ReferenceIsend.iSendServiceSoap" name="iSendServiceSoap" />
      <endpoint address="http://54.186.116.49:8080/WSINTEGRA/service" binding="basicHttpBinding" bindingConfiguration="servicePortBinding" contract="IntegraWs.service" name="servicePort" />
      <endpoint address="http://52.203.167.206:8080/WSINTEGRA/Service" binding="basicHttpBinding" bindingConfiguration="servicePortBinding" contract="TerriaService.Service" name="ServicePort" />
      <endpoint address="http://v3.promocom.mx:38082/wstaev1/services/pos" binding="basicHttpBinding" bindingConfiguration="posHttpBinding" contract="ProcomServiceRef.posPortType" name="posHttpPort" />
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp from="clientes@topitup.net">
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--<applicationSettings>
    <TopItUp.My.MySettings>
      <setting name="TopItUp_com_isendonline_test_iSendService" serializeAs="String">
        <value>https://test.isendonline.com/iSendwebservice/iSend.asmx</value>
      </setting>
    </TopItUp.My.MySettings>
  </applicationSettings>-->
</configuration>