<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProntipagosClientServiceEndPointPortBinding" />
                <binding name="ProntipagosServiceEndPointPortBinding" />
                <binding name="ProntipagosTopUpServiceEndPointPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dev.tranbit.mx:28181/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosClientServiceEndPoint"
                binding="basicHttpBinding" bindingConfiguration="ProntipagosClientServiceEndPointPortBinding"
                contract="ProntipagosClientService.ProntipagosClientServiceEndPoint"
                name="ProntipagosClientServiceEndPointPort" />
            <endpoint address="http://dev.tranbit.mx:28181/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosServiceEndPoint"
                binding="basicHttpBinding" bindingConfiguration="ProntipagosServiceEndPointPortBinding"
                contract="ProntipagosService.ProntipagosServiceEndPoint" name="ProntipagosServiceEndPointPort" />
            <endpoint address="http://dev.tranbit.mx:28181/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosTopUpServiceEndPoint"
                binding="basicHttpBinding" bindingConfiguration="ProntipagosTopUpServiceEndPointPortBinding"
                contract="ProntipagosTopUpService.ProntipagosTopUpServiceEndPoint"
                name="ProntipagosTopUpServiceEndPointPort" />
        </client>
    </system.serviceModel>
</configuration>